.ui.large.menu {
    background-color: #343a40;
    border-radius: 0;
}

.ui.container {
    width: 1425px;
}

.ui.large.menu .item {
    color: #a7a9ab;
    font-weight: 700;
}

.ui.large.menu .item:hover {
    color: #ffffff;
    border-bottom-color: #ffffff;
}

.ui.large.menu .item.active {
    color: #ffffff;
    background-color: transparent;
    border-bottom-color: #ffffff;
}